@import "index";

.headerContainer {
  font-family: $sans-serif;
  text-align: center;
  font-size: .75em;
}

@include sm-up() {
  .headerContainer {
    font-size: 1em;
  }
}

@include md-up() {
  .headerContainer {
    font-size: 1.5em;
  }
}

.header {
  text-transform: uppercase;
}

.blocksContainer {
  font-family: $sans-serif;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
  max-width: 40rem;
}

.block {
  border-radius: .5em;
  box-shadow: 2px 2px 4px 1px rgba( 0, 0, 0, .1 );
  background-color: white;
  padding: 1rem;
  margin-bottom: 1rem;
  color: gray;
}

.infoContainer {
  display: flex;
  max-width: 100%;
  font-size: .85rem;
  margin-top: .5rem;
  white-space: nowrap;
}

.data {
  margin-right: .5rem;
  display: inline-block;
  text-transform: uppercase;
  margin-top: .20rem;
}

.dataContainer {
  color: #52c41a;
  background: #f6ffed;
  border-radius: 4px;
  border: 1px solid #b7eb8f;
  overflow-x: auto;
  font-size: .85rem;
  padding: .125rem .25rem;
}

.blockNumber {
  font-size: 1.25em;
  color: #333;
  display: block;
}

@include sm-up() {
  .blockNumber {
    display: flex;
  }
}

.warning {
  text-align: center;
}

.fox {
  max-width: 8rem;
  margin-bottom: 1rem;
}

.timestamp {
  font-size: .6em;
  padding-top: .5rem;
}

@include sm-up() {
  .timestamp {
    margin-left: .25rem;
  }
}
