@import "index";

.headerContainer {
  font-family: $sans-serif;
  text-align: center;
  font-size: .75em;
}

.header {
  text-transform: uppercase;
}

.blocksContainer {
  font-family: $sans-serif;
}

.block {
  border-radius: .5em;
  box-shadow: 2px 2px 4px 1px rgba( 0, 0, 0, .1 );
  background-color: white;
  padding: 1rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  color: gray;
  max-width: 16rem;
}

.infoContainer {
  display: flex;
  max-width: 100%;
  font-size: .85rem;
  margin-top: .25rem;
}

.data {
  margin-right: .5rem;
  display: inline-block;
  text-transform: uppercase;
  margin-top: .20rem;
}

.dataContainer {
  color: #52c41a;
  background: #f6ffed;
  border-radius: 4px;
  border: 1px solid #b7eb8f;
  overflow: auto;
  font-size: .85rem;
  padding: .125rem .25rem;
}

.blockNumber {
  font-size: 1.25em;
  color: #333;
}


